<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhoomi.foodconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hotelSignup" />
        <activity android:name=".ngoSignup" />
        <activity android:name=".eventSignup" />
        <activity android:name=".commonLogin" />
        <activity android:name=".listAll" />
        <activity android:name=".info" />
        <activity android:name=".pnLogin" />
        <activity android:name=".updateHotel"></activity>
    </application>

</manifest>